!  ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
!  ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
!  ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
!  ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
!  ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
!  ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝

!  ░█▀▀░█▀█░█░░░█▀█░█▀▄░█▀▀
!  ░█░░░█░█░█░░░█░█░█▀▄░▀▀█
!  ░▀▀▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░▀▀▀

#include "/home/uriel/.cache/wal/colors.Xresources"

!  ░█▀▀░█▀█░█▀█░▀█▀░█▀▀
!  ░█▀▀░█░█░█░█░░█░░▀▀█
!  ░▀░░░▀▀▀░▀░▀░░▀░░▀▀▀

Xft.dpi: 96
Xft.rgba: rgb
Xft.antialias: true
Xft.hinting: true
Xft.rightScrollBar: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!  ░█░█░█▀▄░█░█░█░█░▀█▀
!  ░█░█░█▀▄░▄▀▄░▀▄▀░░█░
!  ░▀▀▀░▀░▀░▀░▀░░▀░░░▀░

! Fonts
URxvt.font:           xft:Iosevka Term:style=Regular:size=11
URxvt.boldFont:       xft:Iosevka Term:style=Bold:size=11
URxvt.italicFont:     xft:Iosevka Term:style=Italic:size=11
URxvt.boldItalicfont: xft:Iosevka Term:style=Bold Italic:size=11

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
!URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
URxvt*iso14755_52:  false

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select,tabbed,resize-font,xresources-256

! Clipboard
!URxvt.clipboard.autocopy: true
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next

! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! URxvt Tabbed
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

! Resize Font
 URxvt.keysym.C-Down:  resize-font:smaller
 URxvt.keysym.C-Up:    resize-font:bigger

URxvt.background: [90]#000000

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Xft.dpi:100

Sxiv.background: #131217
Sxiv.foreground: #e8e4e3
Sxiv.font: Roboto Condensed-10

!  ░█░█░▀█▀░█▀▀░█▀▄░█▄█
!  ░▄▀▄░░█░░█▀▀░█▀▄░█░█
!  ░▀░▀░░▀░░▀▀▀░▀░▀░▀░▀

XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.saveLines: 16384
XTerm.vt100.faceName: xft:MesloLGS NF:size=10.5:antialias=true
XTerm.vt100.bellIsUrgent: true
XTerm.letterSpace: 0
XTerm.scaleHeight: 1.01
XTerm.faceSize: 10
XTerm.internalBorder: 32
XTerm.vt100*geometry: 70x13
XTerm.loginShell: true
XTerm.charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
XTerm.eightBitInput: false
