[Desktop Entry]
Name=Curse of the Dead Gods
Comment=Play this game on Steam
Exec=steam steam://rungameid/1123770
Icon=steam_icon_1123770
Terminal=false
Type=Application
Categories=Game;
