[Desktop Entry]
Name=DataGrip
Icon=/home/geektimus/.local/share/JetBrains/Toolbox/apps/datagrip/ch-0/.icon.svg
StartupWMClass=jetbrains-datagrip
Comment=Many databases, one tool
Exec="/home/geektimus/.local/share/JetBrains/Toolbox/apps/datagrip/ch-0/203.5981.102/bin/datagrip.sh" %f
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true