[Desktop Entry]
Name=IntelliJ IDEA Ultimate
Icon=/home/geektimus/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/.icon.svg
StartupWMClass=jetbrains-idea
Comment=Capable and ergonomic Java IDE
Exec="/home/geektimus/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/203.6682.168/bin/idea.sh" %f
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true