[Desktop Entry]
Categories=Development;IDE;
Comment=Capable and ergonomic Java IDE
Exec="/home/geektimus/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/202.7660.26/bin/idea.sh" %f
Icon=idea
Name=IntelliJ IDEA Ultimate
StartupWMClass=jetbrains-idea
Terminal=false
Type=Application
Version=1.0
