[Desktop Entry]
Categories=Development;IDE;
Comment=API Testing Friend
Exec="/opt/postman/stable/Postman"
Icon=postman
Name=Postman
StartupWMClass=postman
Terminal=false
Type=Application
Version=1.0
