[Desktop Entry]
Name=Slime Rancher
Comment=Play this game on Steam
Exec=steam steam://rungameid/433340
Icon=steam_icon_433340
Terminal=false
Type=Application
Categories=Game;
